# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# macOS
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Build / Packaging
build/
dist/
*.spec

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.log
*.tmp

# Local data
data/